{{!-- Body: start --}}
<div class="container">
    <div class="addProduct-header">

    </div>
    <div class="addProduct-body">
        <form class="form-horizontal" method="post">
            <fieldset>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="fullname">TÊN KHÁCH HÀNG</label>
                    <div class="col-md-10">
                        <input id="fullname" name="fullname" value="{{fullname}}" placeholder="Tên khách hàng"
                            class="form-control input-md" type="text">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="email">EMAIL</label>
                    <div class="col-md-10">
                        <input id="email" name="email" value="{{email}}" placeholder="Email khách hàng"
                            class="form-control input-md" type="email">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="phone">SỐ ĐIỆN THOẠI</label>
                    <div class="col-md-10">
                        <input id="phone" value="{{phone}}" name="phone" placeholder="SĐT khách hàng"
                            class="form-control input-md" type="text">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="address">ĐỊA CHỈ</label>
                    <div class="col-md-10">
                        <input id="address" value="{{address}}" name="address" placeholder="Địa chỉ khách hàng"
                            class="form-control input-md" type="text">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="sale">SALE</label>
                    <div class="col-md-10">
                        <input id="sale" value="{{sale}}" name="sale" placeholder="Tên sale"
                            class="form-control input-md" type="text">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="product_link">Link đơn hàng</label>
                    <div class="col-md-10">
                        <input id="product_link" name="product_link" value="{{product_link}}"
                            placeholder="Link đơn hàng" class="form-control input-md" type="text">
                    </div>
                </div>


                <section class="shopping-cart dark">
                    <a href="/admin/product-manager" class="btn btn-success">Thêm sản
                        phẩm</a>
                    <div class="container">

                        <div class="block-heading">
                            <h2>Danh sách đơn hàng</h2>
                        </div>
                        <input id="product_list" name="product_list" class="d-none" type="text">
                        <div class="content">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div id="cart-products" class="items">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>



                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="total">TỔNG GIÁ</label>
                    <div class="col-md-10">
                        <input id="total" name="total" value="{{total}}" placeholder="Tổng tiền"
                            class="form-control input-md" type="number">
                    </div>
                </div>

                {{#if error}}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {{/if}}

                {{#if success}}
                <div class="alert alert-success" role="alert">
                    {{success}}
                </div>
                {{/if}}

                <!-- Text input-->
                <div class="form-footer">
                    <button onclick="submitForm()" type="submit">Tạo đơn hàng</button>
                </div>

            </fieldset>
        </form>
    </div>

</div>

{{!-- Body: end --}}


<script src="https://cdn.tiny.cloud/1/j88ohxy0xzr1jtwyis9v2j14gxs7ym1374rj731gaz4wcqo0/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"></script>

<!-- Footer -->
<script>
    let fileInput = document.getElementById("product-list")
    let imageContainer = document.getElementById('images-upload')
    let numOfFiles = document.getElementById('num-of-file')

    function preview() {
        imageContainer.innerHTML = ""
        numOfFiles.textContent = `${fileInput.files.length} file đã được chọn`;

        for (i of fileInput.files) {
            let reader = new FileReader()
            let figure = document.createElement("figure")
            let figCap = document.createElement("figcaption")

            figCap.innerText = i.name
            figure.appendChild(figCap)
            reader.onload = () => {
                let img = document.createElement("img");
                img.setAttribute("src", reader.result);
                figure.insertBefore(img, figCap);
            }
            imageContainer.appendChild(figure);
            reader.readAsDataURL(i)
        }
    }


    const cartItemsEl = document.getElementById('cart-products')
    const totalPrice = document.getElementById('total')
    let cart
    if (localStorage.getItem('admin-cart')) {
        cart = JSON.parse(localStorage.getItem('admin-cart'))
        renderCartItem()
        renderSubtotal()
    }
    else
        cart = JSON.parse(localStorage.setItem('admin-cart', '[]'))
    if (cart.length > 0) {
        console.log('cart have items')
    }

    function submitForm() {
        let listId = []
        cart.forEach(item => {
            item = JSON.parse(item)
            listId.push(item.id)
        })
        document.getElementById('product_list').value = JSON.stringify(cart)
        localStorage.removeItem('admin-cart')
    }

    function renderSubtotal() {
        let total = 0, totalItems = 0;
        cart.forEach(item => {
            item = JSON.parse(item)
            total += Number(item.price) * item.numberOfUnit;
            totalItems += item.numberOfUnit;
        })
        totalPrice.value = total
    }

    function renderCartItem() {
        cartItemsEl.innerHTML = ``;
        cart.forEach(item => {
            item = JSON.parse(item)
            cartItemsEl.innerHTML += `<div class="product">
                                                <div class="row">
                                                    <div class="col-md-3 mt-auto mb-auto">
                                                        <img class="img-fluid mx-auto d-block image"
                                                            src="${item.img}">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="info">
                                                            <div class="row">
                                                                <div class="col-md-5 product-name">
                                                                    <div class="product-name">
                                                                        <a href="#">${item.name}</a>
                                                                        <div class="product-info">
                                                                            <div>Model: <span class="value">${item.model}</span></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 quantity">
                                                                    <label for="${item.id}">Số lượng:</label>
                                                                    <input class="form-control quantity-input d-none">
                                                                    <div class="units">
                                                                        <div class="number">${item.numberOfUnit}</div>
                                                                    </div>
                                                                    
                                                                </div>
                                                                <div class="col-md-3 price">
                                                                    <span>${item.stringPrice}</span>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>`
        })
    }

</script>