{{!-- Body: start --}}
<div class="container">
    <form action="/admin/customer-info/" class="find-product-form">
        <div class="form-group">
            <div class="col-md-8 mb-2">
                <input value="{{keyWord}}" type="text" placeholder="Tên & SĐT khách hàng" name="keyWord"
                    class="form-control">
            </div>
            <div class="col-md-4 mb-2">
                <button class="form-control">Tìm kiếm</button>
            </div>
        </div>

    </form>
    <div class="addProduct-body">

        <div class="mb-5 mt-5">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Email</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Địa chỉ</th>
                        <th scope="col">Người phụ trách</th>
                        {{#isAdmin position}}
                        <th class="text-center" scope="col">Đơn hàng</th>
                        {{/isAdmin}}
                        <th scope="col">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if listCustomers}}
                    {{#each listCustomers}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{name}}</td>
                        <td>{{email}}</td>
                        <td>{{phone}}</td>
                        <td>{{address}}</td>
                        <td>{{saler}}</td>
                        {{#isAdmin ../position}}
                        <td style="max-width: 250px;" class="text-center"><a class="btn btn-success" href="/admin/order/{{id}}">
                                <i class="fas fa-file-alt"></i>
                            </a></td>
                        {{/isAdmin}}
                        <td style="max-width: 250px;"><span>{{status}}</span> 
                            <button style="width: 50px; font-size: 10px" type="button" class="btn btn-primary status-edit" data-toggle="modal" data-target="#exampleModalCenter">
                                edit
                            </button>
                        </td>
                    </tr>
                    {{/each}}
                    {{else}}
                    <td colspan="8">Không tìm thấy khách hàng</td>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Trạng thái</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="POST">

      <div class="modal-body">
        <textarea class="px-1 py-1" value="fneqneqfnqie" name="" id="status-area" cols="64" rows="10"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-success">Save</button>
      </div>

      </form>
    </div>
  </div>
</div>

<script>
    $('.status-edit').click(function() {
        let status = $(this).siblings('span').text();
        document.getElementById('status-area').value = status;
    })
</script>

{{!-- Body: end --}}