{{!-- Body: start --}}
<div class="container">
    <div class="row">
            <div class="col-md-4 ml-auto">
                {{#if success}}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{success}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/if}}
                {{#if error}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{error}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    
    <form action="/admin/customer-info/" class="find-product-form">
        <div class="form-group">
            <div class="col-md-8 mb-2">
                <input value="{{keyWord}}" type="text" placeholder="Tên & SĐT khách hàng" name="keyWord"
                    class="form-control">
            </div>
            <div class="col-md-4 mb-2">
                <button class="form-control">Tìm kiếm</button>
            </div>
        </div>

    </form>
    <div class="addProduct-body">

        <div class="mb-5 mt-5">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Email</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Địa chỉ</th>
                        
                        <th scope="col">Ghi chú</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        {{!-- <th scope="col">Người phụ trách</th> --}}
                    </tr>
                </thead>
                <tbody>
                    {{#if listCustomers}}
                    {{#each listCustomers}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{fullname}}</td>
                        <td>{{email}}</td>
                        <td class="">{{phone}}</td>
                        <td>{{address}}</td>
                        
                        
                        <td>{{{content}}}</td>
                        <td>
                            <a href="/admin/edit-customer/{{cid}}" class="btn btn-warning pr-2"><i class="fas fa-edit"></i></a>
                            <a href="/admin/withdraw-customer/{{cid}}" class="btn btn-danger pr-2"><i class="fas fa-undo"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                    {{else}}
                    <td colspan="8">Không tìm thấy khách hàng</td>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Button trigger modal -->


<!-- Modal -->


{{!-- Body: end --}}