<div class="service-page">
     <div style="width: 50%;" class="container titleL mt-5">
        
        <h1 style="font-weight: 700;" >Khuyến mãi</h1>
    </div>



    <div class="row mt-5">
        {{#if discounts}}
        {{#each discounts}}
        
        <div onclick="window.location.href='/discount/{{slug}}'" class="service-box col-md-6 mb-5">
            <div style="width: 100%;" class="service-main-img s-page-img">
                <img height="100%" class="w-100 smooth" src="{{image}}" alt="">
            </div>
            <div class="service-main-content">
                <span class="py-3 px-3 h5 d-block">{{title}} <br>
                <p class="py-2">Diễn ra đến hết ngày: {{expire}}</p></span>
                
            </div>
            
        </div>

        
        
        {{/each}}
        {{else}}
        <div class="container text-center h2">Đang cập nhật</div>
        {{/if}}
        
        
    </div>
</div>

