{{!-- <div class="product-page"> --}}
    <div class="row center top-product mb-4">
        <img src="/img/banner-pro.jpg" alt="">
    </div>

    <div class="row mb-5">
        <div onclick='window.location.href="/collections/Lop-Advance-Samson-1"' class="col-md-3">
            <figure class="snip1538">
                <img src="https://www.volvotrucks.com/en-en/_jcr_content/root/responsivegrid/carousel/item_1582788852365.coreimg.82.1440.png/1606824881335/trucks-ourtrucks-vhd.png" alt="sample83" />
                <figcaption>
                    <h3>Lốp xe</h3>
                </figcaption>
                <a href="#"></a>
            </figure>
        </div>
        <div onclick='window.location.href="/collections/Xe-tai-dau-keo-xe-ben-2"' class="col-md-3">
            <figure class="snip1538">
                <img class="w-100" src="https://www.volvotrucks.com/en-en/_jcr_content/root/responsivegrid/carousel/item_1582788852365.coreimg.82.1440.png/1606824881335/trucks-ourtrucks-vhd.png" alt="sample83" />
                <figcaption>
                    <h3>Xe tải</h3>
                </figcaption>
                <a href="#"></a>
            </figure>
        </div>
        <div onclick='window.location.href="/collections/Phu-tung-o-to-3"' class="col-md-3">
            <figure class="snip1538">
                <img src="https://www.volvotrucks.com/en-en/_jcr_content/root/responsivegrid/carousel/item_1582788852365.coreimg.82.1440.png/1606824881335/trucks-ourtrucks-vhd.png" alt="sample83" />
                <figcaption>
                    <h3>Phụ tùng</h3>
                </figcaption>
                <a href="#"></a>
            </figure>
        </div>
        <div onclick='window.location.href="/collections/Dau-nhot-4"' class="col-md-3">
            <figure class="snip1538">
                <img src="https://www.volvotrucks.com/en-en/_jcr_content/root/responsivegrid/carousel/item_1582788852365.coreimg.82.1440.png/1606824881335/trucks-ourtrucks-vhd.png" alt="sample83" />
                <figcaption>
                    <h3>Dầu nhớt</h3>
                </figcaption>
                <a href="#"></a>
            </figure>
        </div>
        
        
    </div>

    {{!-- Lốp xe --}}
    <div id="tire-products" class="classify-products">
        <div class="row pagi">
            {{!-- <div class="ribbon ribbon-top-right"><span> Best Seller</span></div> --}}

            <span class="sub-title">Lốp Advance / Samson </span>
            <img class="bgc-title" src="/img/title.png" alt="">
            <div style="line-height: 45px;" class="ml-auto px-3">
                <a class="seeall" href="/collections/Lop-Advance-Samson-1"><span>Xem tất cả sản phẩm <i class="fas fa-angle-double-right"></i></span></a>
            </div>
            
        </div>

        <div class="row product-list data-metatip=" true"">
            <div class="col-md-12 product-main">
                {{#each data.Lop}}
                <li class="items-product smooth text-center">

                    <div onclick='window.location.href="/products/{{pslug}}"' class="img-box">
                        {{#each pimg}}

                        <img class="img-product smooth" src="https://storage.googleapis.com/namthinh-69ec0.appspot.com/{{this}}"
                            alt="">

                        {{/each}}
                    </div>

                    <div class="info-box">
                        <div class="items-title">
                            <a href="/products/{{pslug}}">{{pname}}</a>
                            <p>{{pid}}</p>
                        </div>
                        <div class="items-price">
                            {{price}}
                        </div>
                    </div>

                </li>
                {{/each}}


            </div>
        </div>
        {{!-- <div class="d-flex float-right mb-3 p-2">
            <a class="seeall" href="#"><span>Xem tất cả sản phẩm</span></a>
        </div> --}}

        <div class="text-center d-flex justify-content-center mt-4">
	
            <div class="pagination">
                <ul class="pagination-list">
                        
                    <li class="prevPage" style="visibility: hidden;"><a title="Trang trước" href="" class="pagenav"><i class="fa fa-chevron-left"></i></a></li>
                    
                    <li class="hidden-phone current"><a title="1" href="/collections/Lop-Advance-Samson-1?view=home&page=1" class="pagenav">1</a></li>
                    
                    
                    
                    <li class="hidden-phone"><a title="2" href="/collections/Lop-Advance-Samson-1?view=home&page=2" class="pagenav">2</a></li>
                    
                    
                    
                    <li class="hidden-phone"><a title="3" href="/collections/Lop-Advance-Samson-1?view=home&page=3" class="pagenav">3</a></li>
                    
                    
                    
                    {{!-- <li class="hidden-phone "><a title="4" href="/collections/Lop-Advance-Samson-1?view=home&page=4" class="pagenav">4</a></li> --}}
                    
                
                    
                    
                    <li class="nextPage"><a title="Trang sau" href="" class="pagenav"><i class="fa fa-chevron-right"></i></a></li>
                    
                </ul>
                <input type="hidden" name="limitstart" value="0">
            </div>
            
        </div>
    </div>

    {{!-- Ô tô --}}
    <div id="truck-products" class="classify-products">
        <div class="row pagi">
            {{!-- <div class="ribbon ribbon-top-right"><span> Best Seller</span></div> --}}
            <span class="sub-title">Xe tải - Đầu kéo - Xe ben</span>
            <img class="bgc-title" src="/img/title.png" alt="">
            <div style="line-height: 45px;" class="ml-auto px-3">
                <a class="seeall" href="/collections/Xe-tai-dau-keo-xe-ben-2"><span>Xem tất cả sản phẩm <i class="fas fa-angle-double-right"></i></span></a>
            </div>
        </div>

        <div class="row product-list data-metatip=" true"">



            <div class="col-md-12 product-main">
                {{#each data.Xe}}
                <li class="items-product smooth text-center">

                    <div onclick='window.location.href="/products/{{pslug}}"' class="img-box">
                        {{#if pimg}}
                        <img class="img-product smooth" src="https://storage.googleapis.com/namthinh-69ec0.appspot.com/{{pimg}}"
                            alt="">
                        {{/if}}
                    </div>


                    <div class="info-box">
                        <div class="items-title">
                            <a href="/products/{{pslug}}">{{pname}}</a>
                            <p>{{pid}}</p>
                        </div>
                        <div class="items-price">
                            {{price}}
                        </div>
                    </div>

                </li>
                {{/each}}


            </div>
        </div>

        <div class="text-center d-flex justify-content-center mt-4">
	
            <div class="pagination">
                <ul class="pagination-list">
                        
                    <li class="prevPage" style="visibility: hidden;"><a title="Trang trước" href="" class="pagenav"><i class="fa fa-chevron-left"></i></a></li>
                    
                    <li class="hidden-phone current"><a title="1" href="/collections/Xe-tai-dau-keo-xe-ben-2?view=home&page=1" class="pagenav">1</a></li>
                    
                    
                    
                    <li class="hidden-phone"><a title="2" href="/collections/Xe-tai-dau-keo-xe-ben-2?view=home&page=2" class="pagenav">2</a></li>
                    
                    
                    
                    <li class="hidden-phone"><a title="3" href="/collections/Xe-tai-dau-keo-xe-ben-2?view=home&page=3" class="pagenav">3</a></li>
                    
                    
                    
                    {{!-- <li class="hidden-phone "><a title="4" href="/collections/Xe-tai-dau-keo-xe-ben-2?view=home&page=4" class="pagenav">4</a></li> --}}
                    
                    
                    <li class="nextPage"><a title="Trang sau" href="" class="pagenav"><i class="fa fa-chevron-right"></i></a></li>
                    
                </ul>
                <input type="hidden" name="limitstart" value="0">
            </div>
            
        </div>
    </div>

    {{!-- Phụ tùng ô tô --}}
    <div id="tool-products" class="classify-products">
        <div class="row pagi">
            {{!-- <div class="ribbon ribbon-top-right"><span> Best Seller</span></div> --}}
            <span class="sub-title">Phụ tùng ô tô</span>
            <img class="bgc-title" src="/img/title.png" alt="">
            <div style="line-height: 45px;" class="ml-auto px-3">
                <a class="seeall" href="/collections/Phu-tung-o-to-3"><span>Xem tất cả sản phẩm <i class="fas fa-angle-double-right"></i></span></a>
            </div>
        </div>

        <div class="row product-list data-metatip=" true"">


            <div class="col-md-12 product-main">
                {{#each data.PhuTung}}
                <li class="items-product smooth text-center">
                    <div onclick='window.location.href="/products/{{pslug}}"' class="img-box">
                        {{#if pimg}}
                        <img class="img-product smooth" src="https://storage.googleapis.com/namthinh-69ec0.appspot.com/{{pimg}}"
                            alt="">
                        {{/if}}
                    </div>

                    <div class="info-box">
                        <div class="items-title">
                            <a href="/products/{{pslug}}">{{pname}}</a>
                            <p>{{pid}}</p>
                        </div>
                        <div class="items-price">
                            {{price}}
                        </div>
                    </div>

                </li>
                {{/each}}

            </div>
        </div>
        <div class="text-center d-flex justify-content-center mt-4">
	
            <div class="pagination">
                <ul class="pagination-list">
                        
                    <li class="prevPage" style="visibility: hidden;"><a title="Trang trước" href="" class="pagenav"><i class="fa fa-chevron-left"></i></a></li>
                    
                    <li class="hidden-phone current"><a title="1" href="/collections/Phu-tung-o-to-3?view=home&page=1" class="pagenav">1</a></li>
                    
                    
                    
                    <li class="hidden-phone"><a title="2" href="/collections/Phu-tung-o-to-3?view=home&page=2" class="pagenav">2</a></li>
                    
                    
                    
                    <li class="hidden-phone"><a title="3" href="/collections/Phu-tung-o-to-3?view=home&page=3" class="pagenav">3</a></li>
                    
                    
                    
                    {{!-- <li class="hidden-phone "><a title="4" href="/collections/Phu-tung-o-to-3?view=home&page=4" class="pagenav">4</a></li> --}}
                    
                
                    
                    
                    <li class="nextPage"><a title="Trang sau" href="" class="pagenav"><i class="fa fa-chevron-right"></i></a></li>
                    
                </ul>
                <input type="hidden" name="limitstart" value="0">
            </div>
            
        </div>
    </div>

    {{!-- Dầu nhớt --}}
    <div id="oil-products" class="classify-products">
        <div class="row pagi">
            {{!-- <div class="ribbon ribbon-top-right"><span> Best Seller</span></div> --}}
            <span class="sub-title">Dầu nhớt</span>
            <img class="bgc-title" src="/img/title.png" alt="">
            <div style="line-height: 45px;" class="ml-auto px-3">
                <a class="seeall" href="/collections/Dau-nhot-4"><span>Xem tất cả sản phẩm <i class="fas fa-angle-double-right"></i></span></a>
            </div>
        </div>

        <div class="row product-list data-metatip=" true"">


            <div class="col-md-12 product-main">
                {{#each data.Dau}}
                <li class="items-product  text-center">
                    <div onclick='window.location.href="/products/{{pslug}}"' class="img-box">
                        {{#if pimg}}

                        <img class="img-product smooth" src="https://storage.googleapis.com/namthinh-69ec0.appspot.com/{{pimg}}"
                            alt="">

                        {{/if}}
                    </div>

                    <div class="info-box">
                        <div class="items-title">
                            <a href="/products/{{pslug}}">{{pname}}</a>
                            <p>{{pid}}</p>
                        </div>
                        <div class="items-price button_slide slide_right">
                            {{price}}
                        </div>
                    </div>

                </li>
                {{/each}}
            </div>
        </div>
        <div class="text-center d-flex justify-content-center mt-4">
	
            <div class="pagination">
                <ul class="pagination-list">
                        
                    <li class="prevPage" style="visibility: hidden;"><a title="Trang trước" href="" class="pagenav"><i class="fa fa-chevron-left"></i></a></li>
                    
                    <li class="hidden-phone current"><a title="1" href="/collections/Dau-nhot-4?view=home&page=1" class="pagenav">1</a></li>
                    
                    
                    
                    <li class="hidden-phone"><a title="2" href="/collections/Dau-nhot-4?view=home&page=2" class="pagenav">2</a></li>
                    
                    
                    
                    <li class="hidden-phone"><a title="3" href="/collections/Dau-nhot-4?view=home&page=3" class="pagenav">3</a></li>
                    
                    
                    
                    {{!-- <li class="hidden-phone "><a title="4" href="/collections/Dau-nhot-4?view=home&page=4" class="pagenav">4</a></li> --}}
                    
                
                    
                    
                    <li class="nextPage"><a title="Trang sau" href="" class="pagenav"><i class="fa fa-chevron-right"></i></a></li>
                    
                </ul>
                <input type="hidden" name="limitstart" value="0">
            </div>
            
        </div>
    </div>

    