{{!-- <div class="product-page"> --}}
    <div class="row center top-product mb-4">
        <img src="/img/banner-pro.jpg" alt="">
    </div>

    {{!-- Lốp xe --}}
    <div class="classify-products">
        <div class="row pagi">
            <div class="ribbon ribbon-top-right"><span> Best Seller</span></div>

            <span class="sub-title">Lốp Advance / Samson </span>
            <img class="bgc-title" src="/img/title.png" alt="">

        </div>

        <div class="row product-list data-metatip=" true"">
            <div class="col-md-12 product-main">
                {{#each data.Lop}}
                <li onclick='window.location.href="/products/{{pslug}}"' class="items-product smooth text-center">

                    <div class="img-box">
                        {{#each pimg}}
                        {{#if contentType}}
                        <img class="smooth" src="data:{{contentType}};base64,{{imageBase64}}" alt="">
                        {{/if}}
                        {{/each}}
                    </div>

                    <div class="info-box">
                        <div class="items-title">
                            <a href="/products/{{pslug}}">{{pname}}</a>
                            <p>{{pid}}</p>
                        </div>
                        <div class="items-price">
                            {{price}}
                        </div>
                    </div>

                </li>
                {{/each}}


            </div>
        </div>
        <div class="d-flex float-right mb-3 p-2">
            <a class="seeall" href="#"><span>Xem tất cả sản phẩm</span></a>
        </div>
    </div>

    {{!-- Ô tô --}}
    <div class="classify-products">
        <div class="row pagi">
            <div class="ribbon ribbon-top-right"><span> Best Seller</span></div>
            <span class="sub-title">Xe tải - Đầu kéo - Xe ben</span>
            <img class="bgc-title" src="/img/title.png" alt="">
        </div>

        <div class="row product-list data-metatip=" true"">



            <div class="col-md-12 product-main">
                {{#each data.Xe}}
                <li onclick='window.location.href="/products/{{pslug}}"' class="items-product smooth text-center">

                    <div class="img-box">
                        {{#each pimg}}
                        {{#if contentType}}
                        <img class="smooth" src="data:{{contentType}};base64,{{imageBase64}}" alt="">
                        {{/if}}
                        {{/each}}
                    </div>


                    <div class="info-box">
                        <div class="items-title">
                            <a href="/products/{{pslug}}">{{pname}}</a>
                            <p>{{pid}}</p>
                        </div>
                        <div class="items-price">
                            {{price}}
                        </div>
                    </div>

                </li>
                {{/each}}


            </div>
        </div>

        <div class="d-flex float-right mb-3 p-2">
            <a class="seeall" href="#"><span>Xem tất cả sản phẩm</span></a>
        </div>
    </div>

    {{!-- Phụ tùng ô tô --}}
    <div class="classify-products">
        <div class="row pagi">
            <div class="ribbon ribbon-top-right"><span> Best Seller</span></div>
            <span class="sub-title">Phụ tùng ô tô</span>
            <img class="bgc-title" src="/img/title.png" alt="">
        </div>

        <div class="row product-list data-metatip=" true"">


            <div class="col-md-12 product-main">
                {{#each data.PhuTung}}
                <li onclick='window.location.href="/products/{{pslug}}"' class="items-product smooth text-center">
                    <div class="img-box">
                        {{#each pimg}}
                        {{#if contentType}}
                        <img class="smooth" src="data:{{contentType}};base64,{{imageBase64}}" alt="">
                        {{/if}}
                        {{/each}}
                    </div>

                    <div class="info-box">
                        <div class="items-title">
                            <a href="/products/{{pslug}}">{{pname}}</a>
                            <p>{{pid}}</p>
                        </div>
                        <div class="items-price">
                            {{price}}
                        </div>
                    </div>

                </li>
                {{/each}}

            </div>
        </div>
        <div class="d-flex float-right mb-3 p-2">
            <a class="seeall" href="#"><span>Xem tất cả sản phẩm</span></a>
        </div>
    </div>

    {{!-- Dầu nhớt --}}
    <div class="classify-products">
        <div class="row pagi">
            <div class="ribbon ribbon-top-right"><span> Best Seller</span></div>
            <span class="sub-title">Dầu nhớt</span>
            <img class="bgc-title" src="/img/title.png" alt="">
        </div>

        <div class="row product-list data-metatip=" true"">


            <div class="col-md-12 product-main">
                {{#each data.Dau}}
                <li onclick='window.location.href="/products/{{pslug}}"' class="items-product  text-center">
                    <div class="img-box">
                        {{#each pimg}}
                        {{#if contentType}}
                        <img class="smooth" src="data:{{contentType}};base64,{{imageBase64}}" alt="">
                        {{/if}}
                        {{/each}}
                    </div>

                    <div class="info-box">
                        <div class="items-title">
                            <a href="/products/{{pslug}}">{{pname}}</a>
                            <p>{{pid}}</p>
                        </div>
                        <div class="items-price">
                            {{price}}
                        </div>
                    </div>

                </li>
                {{/each}}
            </div>
        </div>
        <div class="d-flex float-right mb-3 p-2">
            <a class="seeall" href="#"><span>Xem tất cả sản phẩm</span></a>
        </div>
    </div>