{{!-- Body: start --}}
<div class="container">
    <div class="addProduct-body">
        <div class="mb-5 mt-5">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Mã đơn hàng</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Sale</th>
                        <th scope="col">Tổng giá</th>
                        <th scope="col">Danh sách sản phẩm</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each listOrders}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{id}}</td>
                        <td><a href="/admin/customer/{{customer.phone}}">{{customer.name}}</a></td>
                        <td>{{sale}}</td>
                        <td>{{total}}</td>
                        <td><a class="btn btn-success">
                                ds.docx
                                <i class="fas fa-file-alt"></i>
                            </a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{!-- Body: end --}}