{{!-- Body: start --}}
<div class="container">
  <div class="addProduct-body">
    <div class="mb-5 mt-5">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Mã đơn hàng</th>
            <th scope="col">Tên khách hàng</th>
            <th scope="col">Sale</th>
            <th scope="col">Danh sách sản phẩm</th>
            <th class="text-center" scope="col">Link đơn hàng</th>
            <th scope="col">Trạng thái</th>
            <th style="max-width: 150px;" scope="col">Kết quả</th>
          </tr>
        </thead>
        <tbody>
          {{#if listOrders}}
          {{#each listOrders}}
          <tr class="order-{{inc @index}}">
            <td class="index">{{inc @index}}</td>
            <td class="code">{{id}}</td>
            <td><a href="/admin/customer-info/?keyWord={{customer.phone}}">{{customer.name}}</a></td>
            <td>{{sale}}</td>
            <td style="max-width: 250px;" class="text-center">
              <button class="btn btn-success" data-toggle="modal" data-target=".bd-detail-modal-{{id}}">
                <i class="fas fa-file-alt"></i>
              </button>
            </td>
            <td style="max-width: 250px;" class="text-center"><a class="btn btn-success" href="{{product_link}}"
                target="_blank">
                <i class="fas fa-file-alt"></i>
              </a></td>

            <td class="status" style="max-width: 250px;"><span>{{status}}</span>
              {{#if edit}}
              <button style="width: 50px; font-size: 10px" type="button" class="btn btn-primary status-edit"
                data-toggle="modal" data-target="#exampleModalCenter">
                edit
              </button>
              {{/if}}
            </td>
            <td style="max-width: 150px;">
              <button class="accept btn btn-success" data-toggle="modal" data-target="#modal-accept">Xong</button>
              <button class="cancel btn btn-danger" data-toggle="modal" data-target="#modal-cancel">Hủy</button>
            </td>
          </tr>
          {{/each}}
          {{else}}
          <td colspan="5">Không có đơn hàng nào</td>
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Trạng thái</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="POST">

        <div class="modal-body">
          <textarea class="px-1 py-1" value="fneqneqfnqie" name="status" id="status-area" cols="64"
            rows="10"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button id="editBtn" type="submit" class="btn btn-success" data-dismiss="modal">Save</button>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button id="editBtn" type="submit" class="btn btn-success" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade " id="modal-accept" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Xác nhận hoàn thành đơn hàng ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button id="acceptBtn" type="submit" class="btn btn-success" data-dismiss="modal">Hoàn thành</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="modal-cancel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Xác nhận hủy đơn hàng ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button id="cancelBtn" type="submit" class="btn btn-danger" data-dismiss="modal">Hủy đơn hàng</button>
      </div>
    </div>
  </div>
</div>

{{#each listOrders}}
<div class="modal fade bd-detail-modal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <section class="shopping-cart dark">
        <div class="container">
          <div class="block-heading">
            <h2>Danh sách sản phẩm</h2>
          </div>
          <div class="content">
            <div class="row">
              <div class="col-md-12 col-lg-8">
                <div id="cart-products" class="items">
                  {{#each this.list}}
                  <div class="product">
                    <div class="row">
                      <div class="col-md-3 mt-auto mb-auto">
                        <img class="img-fluid mx-auto d-block image" src="{{img}}">
                      </div>
                      <div class="col-md-8">
                        <div class="info">
                          <div class="row">
                            <div class="col-md-5 product-name">
                              <div class="product-name">
                                <a href="#">{{name}}</a>
                                <div class="product-info">
                                  <div>Model: <span class="value">{{model}}</span></div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4 quantity">
                              <label for="${item.id}">Số lượng:</label>
                              <input class="form-control quantity-input d-none">
                              <div class="units">
                                <div class="number">{{numberOfUnit}}</div>
                              </div>

                            </div>
                            <div class="col-md-3 price">
                              <span>{{price}}</span>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/each}}
                </div>
              </div>
              <div class="col-md-12 col-lg-4">
                <div class="summary">
                  <h3>Tổng giá</h3>
                  <div id="subtotal" class="summary-item">{{total}}</div>
                  <div class="summary-item"><span class="text">Khuyến
                      mãi</span><span id="discount-price" class="price"></span></div>
                  <div id="total-price" class="summary-item">{{total}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{{/each}}

<script>
  var index = '';

  $('.status-edit').click(function () {
    let status = $(this).siblings('span').text();
    document.getElementById('status-area').value = status;
    index = $(this).parent().siblings('.index').text();
  })

  $('#editBtn').click(function (e) {
    e.preventDefault();
    var current = $(`.order-${index}`);
    let code = current.children('.code').text();
    let status = $('#status-area').val();
    current.children('.status').children('span').html(status);

    $.ajax({
      url: window.location.href,
      method: 'POST',
      data: {
        status,
        code
      },
      success: (data) => {

      }
    })
  })

  $('.accept').click(function (e) {
    e.preventDefault();
    index = $(this).parent().siblings('.index').text();

  })
  $('.cancel').click(function (e) {
    e.preventDefault();
    index = $(this).parent().siblings('.index').text();

  })

  $('#cancelBtn').click(function (e) {
    e.preventDefault();
    const current = $(`.order-${index}`);
    current.addClass('d-none');
    const code = current.children('.code').text();
    const ops = 'cancel';
    $.ajax({
      url: window.location.href + '/finish',
      data: {
        code, ops
      },
      method: 'POST',
      success: (data) => {

      }
    })
  })

  $('#acceptBtn').click(function (e) {
    e.preventDefault();
    const current = $(`.order-${index}`);
    current.addClass('d-none');

    const code = current.children('.code').text();
    const ops = 'accept';
    $.ajax({
      url: window.location.href + '/finish',
      data: {
        code, ops
      },
      method: 'POST',
      success: (data) => {

      }
    })
  })
</script>

{{!-- Body: end --}}