<div class="row">
    <div class="col-md-12">
        <h1 class="s-title mt-3">{{data.title}}
        </h1>
        <div class="row">
            <div class="col-md-2">
                <p class="create-post">{{data.createdAt}}</p>
            </div>
            <div class="col-md-2">
                <iframe
                    src="https://www.facebook.com/plugins/like.php?href=https://namthinh.com/products/{{data.slug}};width=172&amp;layout=button_count&amp;action=like&amp;size=small&amp;show_faces=true&amp;share=true&amp;height=46&amp;appId=663428044065589"
                    width="172" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="container news-detail">
    {{{data.content}}}
</div>

<div class="row">
    <div class="col-12">
        <div class="">
            <div class="fb-comments" data-href="https://namthinh.com/news/{{data.slug}}" data-width=""
                data-numposts="5">
            </div>
        </div>
    </div>
</div>

<div class="w-100 mt-5">
    <h5>Các bài viết liên quan</h5>
</div>

<div class="row mt-4 mb-4">
        {{#each relates}}
        
        <div onclick="window.location.href='/news/{{slug}}'" class="service-box col-md-4 mb-5">
            <div style="width: 100%;" class="service-main-img">
                <img height="220px" class="w-100 smooth" src="{{image}}" alt="">
            </div>
            <div style="height: auto;" class="service-main-content">
                <span class="py-3 px-3 h5 d-block">{{title}} <br>
                <span class="py-2 d-block">{{createdAt}} <br>
                <p class="py-3">{{subtitle}}</p></span>       
            </div>
            
        </div>
        {{/each}}

    </div>
        