<div style="width: 50%;" class="container titleL mt-5 mb-5">
    
    <h1 style="font-weight: 700;" >{{pageName}}</h1>
</div>


<div class="row">
    {{#if data}}
    {{#each data}}
        <div class="recruit-box mb-3 col-md-6 col-sm-12 px-4">
            <div style="background-color: #f4f0f0;" class="row">
                <div style="padding-left: 0;" class="col-6 py-0">
                    <img class="w-100" src="{{image}}" alt="">
                </div>
                <div class="col-6 px-0 py-3">
                    <a class="h4 d-block mb-3" href="/tuyen-dung/{{slug}}"> {{position}}</a>
                    <p><i class="fas fa-location"></i> {{location}}</p>
                    <p><i class="fas fa-calendar"></i> Cập nhật: {{updatedAt}}</p>
                    <span class="h5" style="color: crimson">Mức lương: Từ {{salary}}</span>
                </div>
            </div>
        </div>
    {{/each}}
    {{else}}
    <div class="recruit-box mb-3 col-md-6 col-sm-12 px-4">
        <div style="background-color: #f4f0f0;" class="row">
            <div style="padding-left: 0;" class="col-6 py-0">
                <img class="w-100" src="/uploads/Wel/background.png" alt="">
            </div>
            <div class="col-6 px-0 py-3">
                <a class="h4 d-block mb-3" href="">Nhân viên lễ tân hành chính</a>
                <p><i class="fas fa-location"></i> Thành phố Hồ Chí Minh</p>
                <p><i class="fas fa-calendar"></i> Cập nhật: 29/01/2022</p>
                <span class="h5" style="color: crimson">Mức lương: Từ 5 - 12 triệu</span>
            </div>
        </div>
    </div>
    <div class="recruit-box mb-3 col-md-6 col-sm-12 px-4">
        <div style="background-color: #f4f0f0;" class="row">
            <div style="padding-left: 0;" class="col-6 py-0">
                <img class="w-100" src="/uploads/Wel/background.png" alt="">
            </div>
            <div class="col-6 px-0 py-3">
                <a class="h4 d-block mb-3" href="">Nhân viên lễ tân hành chính</a>
                <p><i class="fas fa-location"></i> Thành phố Hồ Chí Minh</p>
                <p><i class="fas fa-calendar"></i> Cập nhật: 29/01/2022</p>
                <span class="h5" style="color: crimson">Mức lương: Từ 5 - 12 triệu</span>
            </div>
        </div>
    </div>
    <div class="recruit-box mb-3 col-md-6 col-sm-12 px-4">
        <div style="background-color: #f4f0f0;" class="row">
            <div style="padding-left: 0;" class="col-6 py-0">
                <img class="w-100" src="/uploads/Wel/background.png" alt="">
            </div>
            <div class="col-6 px-0 py-3">
                <a class="h4 d-block mb-3" href="">Nhân viên lễ tân hành chính</a>
                <p><i class="fas fa-location"></i> Thành phố Hồ Chí Minh</p>
                <p><i class="fas fa-calendar"></i> Cập nhật: 29/01/2022</p>
                <span class="h5" style="color: crimson">Mức lương: Từ 5 - 12 triệu</span>
            </div>
        </div>
    </div>
    <div class="recruit-box mb-3 col-md-6 col-sm-12 px-4">
        <div style="background-color: #f4f0f0;" class="row">
            <div style="padding-left: 0;" class="col-6 py-0">
                <img class="w-100" src="/uploads/Wel/background.png" alt="">
            </div>
            <div class="col-6 px-0 py-3">
                <a class="h4 d-block mb-3" href="">Nhân viên lễ tân hành chính</a>
                <p><i class="fas fa-location"></i> Thành phố Hồ Chí Minh</p>
                <p><i class="fas fa-calendar"></i> Cập nhật: 29/01/2022</p>
                <span class="h5" style="color: crimson">Mức lương: Từ 5 - 12 triệu</span>
            </div>
        </div>
    </div>
    {{/if}}
    
    
    
    
</div>

<div class="row mt-5">
    <div class="lazy-bottom-content">
        <div class="sc-5cc969c7-0 iGXlgF">
            <div class="banner-block   ">
                <div class="content" style="margin-top: 0px;">
                    <div class="xalo-lead-block animated fadeIn" style=""><div class="row align-items-center no-gutters"><div class="col-12"><div class="content"><div class="intro"><div class="row align-items-center mb-3">
                        <div class="col-8">
                            <div class="title h3">CHƯƠNG TRÌNH KẾT NỐI TUYỂN DỤNG NHÂN SỰ | TIỀM NĂNG &amp; ỨNG DỤNG | NAM THỊNH TRUCK AND TIRES  </div></div><div class="col-1"></div><div class="col-3 image"><img src="/img/logo2.png" alt="Xalo Lead Image" class="img-fluid"></div></div><div class="row"><div class="col">
                                <div class="mb-3">Sự kiện 18:00 – 20:30 | 11/11/2022, tại Văn phòng Nam Thịnh - 2290 QL1A, Phường Trung Mỹ Tây, Quận 12, TP HCM

</div><div class="animated fadeIn faster"><div class="feature-list"><div class="feature-item"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 30 30" width="30px" height="30px"><g><path d="M24.464,11.052l-0.699-0.42c-0.298-0.179-0.499-0.473-0.59-0.808c-0.002-0.006-0.003-0.013-0.005-0.019c-0.093-0.338-0.065-0.698,0.105-1.004l0.396-0.713c0.405-0.729-0.113-1.627-0.948-1.641l-0.823-0.014c-0.349-0.006-0.672-0.161-0.918-0.407c-0.003-0.003-0.005-0.005-0.008-0.008c-0.247-0.246-0.401-0.57-0.407-0.918l-0.014-0.823c-0.014-0.834-0.912-1.352-1.641-0.948l-0.713,0.396c-0.307,0.17-0.666,0.198-1.004,0.105c-0.006-0.002-0.013-0.003-0.019-0.005c-0.335-0.091-0.629-0.293-0.808-0.59l-0.42-0.699c-0.429-0.715-1.466-0.715-1.895,0l-0.417,0.696c-0.18,0.3-0.477,0.503-0.814,0.595c-0.004,0.001-0.007,0.002-0.011,0.003c-0.341,0.094-0.703,0.066-1.012-0.106l-0.709-0.394c-0.729-0.405-1.627,0.113-1.641,0.948L9.434,5.101C9.428,5.449,9.273,5.772,9.027,6.019C9.024,6.021,9.021,6.024,9.019,6.027c-0.246,0.247-0.57,0.401-0.918,0.407L7.278,6.448C6.444,6.462,5.926,7.359,6.331,8.089l0.396,0.713c0.17,0.307,0.198,0.666,0.105,1.004C6.829,9.812,6.828,9.819,6.826,9.825c-0.091,0.335-0.293,0.629-0.59,0.808l-0.699,0.42c-0.715,0.429-0.715,1.466,0,1.895l0.699,0.42c0.298,0.179,0.499,0.473,0.59,0.808c0.002,0.006,0.003,0.012,0.005,0.019c0.093,0.338,0.065,0.698-0.105,1.004l-0.396,0.713c-0.405,0.729,0.113,1.627,0.948,1.641l0.823,0.014c0.349,0.006,0.672,0.161,0.918,0.407c0.003,0.003,0.005,0.005,0.008,0.008c0.247,0.246,0.401,0.57,0.407,0.918l0.014,0.823c0.014,0.834,0.912,1.352,1.641,0.948l0.713-0.396c0.307-0.17,0.666-0.198,1.004-0.105c0.006,0.002,0.013,0.003,0.019,0.005c0.335,0.091,0.629,0.292,0.808,0.59l0.42,0.699c0.429,0.715,1.466,0.715,1.895,0l0.42-0.699c0.179-0.298,0.473-0.499,0.808-0.59c0.006-0.002,0.013-0.003,0.019-0.005c0.338-0.093,0.698-0.065,1.004,0.105l0.713,0.396c0.729,0.405,1.627-0.113,1.641-0.948l0.014-0.823c0.006-0.349,0.161-0.672,0.407-0.918c0.003-0.003,0.005-0.005,0.008-0.008c0.246-0.247,0.57-0.401,0.918-0.407l0.823-0.014c0.834-0.014,1.352-0.912,0.948-1.641l-0.396-0.713c-0.17-0.307-0.198-0.666-0.105-1.004c0.002-0.006,0.003-0.013,0.005-0.019c0.091-0.335,0.292-0.629,0.59-0.808l0.699-0.42C25.179,12.518,25.179,11.482,24.464,11.052z M19.707,10.707l-4.56,4.56c-0.188,0.188-0.442,0.293-0.707,0.293s-0.52-0.105-0.707-0.293l-2.453-2.453c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0l1.746,1.746l3.853-3.853c0.391-0.391,1.023-0.391,1.414,0S20.098,10.316,19.707,10.707z"></path></g></svg></span><span>Săn job ngon lương xịn đến 50 TRIỆU, đãi ngộ &amp; môi trường quốc tế</span></div><div class="feature-item"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 30 30" width="30px" height="30px"><g><path d="M24.464,11.052l-0.699-0.42c-0.298-0.179-0.499-0.473-0.59-0.808c-0.002-0.006-0.003-0.013-0.005-0.019c-0.093-0.338-0.065-0.698,0.105-1.004l0.396-0.713c0.405-0.729-0.113-1.627-0.948-1.641l-0.823-0.014c-0.349-0.006-0.672-0.161-0.918-0.407c-0.003-0.003-0.005-0.005-0.008-0.008c-0.247-0.246-0.401-0.57-0.407-0.918l-0.014-0.823c-0.014-0.834-0.912-1.352-1.641-0.948l-0.713,0.396c-0.307,0.17-0.666,0.198-1.004,0.105c-0.006-0.002-0.013-0.003-0.019-0.005c-0.335-0.091-0.629-0.293-0.808-0.59l-0.42-0.699c-0.429-0.715-1.466-0.715-1.895,0l-0.417,0.696c-0.18,0.3-0.477,0.503-0.814,0.595c-0.004,0.001-0.007,0.002-0.011,0.003c-0.341,0.094-0.703,0.066-1.012-0.106l-0.709-0.394c-0.729-0.405-1.627,0.113-1.641,0.948L9.434,5.101C9.428,5.449,9.273,5.772,9.027,6.019C9.024,6.021,9.021,6.024,9.019,6.027c-0.246,0.247-0.57,0.401-0.918,0.407L7.278,6.448C6.444,6.462,5.926,7.359,6.331,8.089l0.396,0.713c0.17,0.307,0.198,0.666,0.105,1.004C6.829,9.812,6.828,9.819,6.826,9.825c-0.091,0.335-0.293,0.629-0.59,0.808l-0.699,0.42c-0.715,0.429-0.715,1.466,0,1.895l0.699,0.42c0.298,0.179,0.499,0.473,0.59,0.808c0.002,0.006,0.003,0.012,0.005,0.019c0.093,0.338,0.065,0.698-0.105,1.004l-0.396,0.713c-0.405,0.729,0.113,1.627,0.948,1.641l0.823,0.014c0.349,0.006,0.672,0.161,0.918,0.407c0.003,0.003,0.005,0.005,0.008,0.008c0.247,0.246,0.401,0.57,0.407,0.918l0.014,0.823c0.014,0.834,0.912,1.352,1.641,0.948l0.713-0.396c0.307-0.17,0.666-0.198,1.004-0.105c0.006,0.002,0.013,0.003,0.019,0.005c0.335,0.091,0.629,0.292,0.808,0.59l0.42,0.699c0.429,0.715,1.466,0.715,1.895,0l0.42-0.699c0.179-0.298,0.473-0.499,0.808-0.59c0.006-0.002,0.013-0.003,0.019-0.005c0.338-0.093,0.698-0.065,1.004,0.105l0.713,0.396c0.729,0.405,1.627-0.113,1.641-0.948l0.014-0.823c0.006-0.349,0.161-0.672,0.407-0.918c0.003-0.003,0.005-0.005,0.008-0.008c0.246-0.247,0.57-0.401,0.918-0.407l0.823-0.014c0.834-0.014,1.352-0.912,0.948-1.641l-0.396-0.713c-0.17-0.307-0.198-0.666-0.105-1.004c0.002-0.006,0.003-0.013,0.005-0.019c0.091-0.335,0.292-0.629,0.59-0.808l0.699-0.42C25.179,12.518,25.179,11.482,24.464,11.052z M19.707,10.707l-4.56,4.56c-0.188,0.188-0.442,0.293-0.707,0.293s-0.52-0.105-0.707-0.293l-2.453-2.453c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0l1.746,1.746l3.853-3.853c0.391-0.391,1.023-0.391,1.414,0S20.098,10.316,19.707,10.707z"></path></g></svg></span><span>Cơ hội ẵm Iphone 14 Pro Max, quà tặng công nghệ hấp dẫn</span></div><div class="feature-item"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 30 30" width="30px" height="30px"><g><path d="M24.464,11.052l-0.699-0.42c-0.298-0.179-0.499-0.473-0.59-0.808c-0.002-0.006-0.003-0.013-0.005-0.019c-0.093-0.338-0.065-0.698,0.105-1.004l0.396-0.713c0.405-0.729-0.113-1.627-0.948-1.641l-0.823-0.014c-0.349-0.006-0.672-0.161-0.918-0.407c-0.003-0.003-0.005-0.005-0.008-0.008c-0.247-0.246-0.401-0.57-0.407-0.918l-0.014-0.823c-0.014-0.834-0.912-1.352-1.641-0.948l-0.713,0.396c-0.307,0.17-0.666,0.198-1.004,0.105c-0.006-0.002-0.013-0.003-0.019-0.005c-0.335-0.091-0.629-0.293-0.808-0.59l-0.42-0.699c-0.429-0.715-1.466-0.715-1.895,0l-0.417,0.696c-0.18,0.3-0.477,0.503-0.814,0.595c-0.004,0.001-0.007,0.002-0.011,0.003c-0.341,0.094-0.703,0.066-1.012-0.106l-0.709-0.394c-0.729-0.405-1.627,0.113-1.641,0.948L9.434,5.101C9.428,5.449,9.273,5.772,9.027,6.019C9.024,6.021,9.021,6.024,9.019,6.027c-0.246,0.247-0.57,0.401-0.918,0.407L7.278,6.448C6.444,6.462,5.926,7.359,6.331,8.089l0.396,0.713c0.17,0.307,0.198,0.666,0.105,1.004C6.829,9.812,6.828,9.819,6.826,9.825c-0.091,0.335-0.293,0.629-0.59,0.808l-0.699,0.42c-0.715,0.429-0.715,1.466,0,1.895l0.699,0.42c0.298,0.179,0.499,0.473,0.59,0.808c0.002,0.006,0.003,0.012,0.005,0.019c0.093,0.338,0.065,0.698-0.105,1.004l-0.396,0.713c-0.405,0.729,0.113,1.627,0.948,1.641l0.823,0.014c0.349,0.006,0.672,0.161,0.918,0.407c0.003,0.003,0.005,0.005,0.008,0.008c0.247,0.246,0.401,0.57,0.407,0.918l0.014,0.823c0.014,0.834,0.912,1.352,1.641,0.948l0.713-0.396c0.307-0.17,0.666-0.198,1.004-0.105c0.006,0.002,0.013,0.003,0.019,0.005c0.335,0.091,0.629,0.292,0.808,0.59l0.42,0.699c0.429,0.715,1.466,0.715,1.895,0l0.42-0.699c0.179-0.298,0.473-0.499,0.808-0.59c0.006-0.002,0.013-0.003,0.019-0.005c0.338-0.093,0.698-0.065,1.004,0.105l0.713,0.396c0.729,0.405,1.627-0.113,1.641-0.948l0.014-0.823c0.006-0.349,0.161-0.672,0.407-0.918c0.003-0.003,0.005-0.005,0.008-0.008c0.246-0.247,0.57-0.401,0.918-0.407l0.823-0.014c0.834-0.014,1.352-0.912,0.948-1.641l-0.396-0.713c-0.17-0.307-0.198-0.666-0.105-1.004c0.002-0.006,0.003-0.013,0.005-0.019c0.091-0.335,0.292-0.629,0.59-0.808l0.699-0.42C25.179,12.518,25.179,11.482,24.464,11.052z M19.707,10.707l-4.56,4.56c-0.188,0.188-0.442,0.293-0.707,0.293s-0.52-0.105-0.707-0.293l-2.453-2.453c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0l1.746,1.746l3.853-3.853c0.391-0.391,1.023-0.391,1.414,0S20.098,10.316,19.707,10.707z"></path></g></svg></span><span>Được chia sẻ kiến thức bổ ích, lộ trình thăng tiến vững vàng từ chuyên gia</span></div></div><div class="text-left mt-3"><button data-toggle="modal" data-target="#TuVanModal" type="button" class="btn btn-success py-1 px-2 btn-md ml-1 clickable">Đăng ký ngay!</button></div></div></div></div></div></div></div></div></div></div></div></div><div class="job-alerts d-none"><div class="sc-c885dc02-0 dWDoVa"><div class="wraper-floating-icon extended no-float "><span class="mailbox-floating"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48px" height="48px"><path fill="#005AFF" d="M45,34V18c0-4.418-3.582-8-8-8H16c-4.418,0-8,3.582-8,8v16H45z"></path><path fill="#005AFF" d="M11,33c0,0.552-0.448,1-1,1H4c-0.552,0-1-0.448-1-1l0,0c0-0.552,0.448-1,1-1h6C10.552,32,11,32.448,11,33L11,33z"></path><path fill="#0D47A1" d="M16,12c-3.309,0-6,2.691-6,6v14h12V18C22,14.691,19.309,12,16,12z"></path><path fill="#FF3D00" d="M28 4H34V8H28z"></path><path fill="#FF3D00" d="M28 6H30V17H28z"></path><path fill="#FF3D00" d="M29 16A2 2 0 1 0 29 20A2 2 0 1 0 29 16Z"></path><path fill="#DD2C00" d="M29 17A1 1 0 1 0 29 19A1 1 0 1 0 29 17Z"></path><path fill="#FFCC80" d="M25 34H30V44H25z"></path><path fill="#FFA726" d="M25 34H30V36H25z"></path><path fill="#CFD8DC" d="M13,21v9c0,1.025,0.975,2,2,2h7V19h-7C13.975,19,13,19.975,13,21z"></path><path fill="#78909C" d="M13,21v1l9,7v-2l-8.782-6.831C13.083,20.43,13,20.711,13,21z"></path></svg></span><div class="extend-jobAlert-Icon align-items-center" style="display: none;"><div class="job-alert-text">Gửi tôi việc tương tự</div><div class="btn-wrapper"><button type="button" class="sc-hKMtZM jrOXON btn-primary btn-md  clickable">Nhận thông báo</button></div></div></div></div></div></div>
</div>