<div class="service-page">
    <div class="titleL mt-5">
        <h1></h1>
        <h1>Dịch Vụ</h1>
    </div>

    <div class="row mt-5">
        {{#each services}}
        {{#if @first}}
        <div class="service-box col-12">
            <div class="service-main-img">
                <img height="100%" class="w-100" src="{{image}}" alt="">
            </div>

            <div class="service-main-content">
                <div class="service-content">
                    <div class="captions">
                        <h3><a href="/service/{{slug}}">{{title}}</a></h3>

                        <div class="des">
                            {{subtitle}}
                        </div>
                    </div>
                </div>
                <a style="background-color: rgb(121, 70, 70); color: white" href="/service/{{slug}}"
                    class="watch-detail px-5 mx-5 py-2">Xem thêm</a>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 service-box mt-5">
            <div class="service-img-box">
                <img class="w-100" src="{{image}}" alt="">
            </div>

            <div class="service-content">
                <div class="captions">
                    <h3><a href="/service/{{slug}}">{{title}}</a>
                    </h3>

                    <div class="des">
                        {{subtitle}}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        {{/each}}


    </div>
</div>

<style>


</style>