{{!-- Body: start --}}
<div class="container">
    <div class="titleL">Hình ảnh trang giao diện <span class="alert alert-primary">(800 x 800)</span></div>
    <div class="addProduct-header">
        <div class="row">
            <div class="col-md-4">
                <button onclick="location.href='{{prev}}'" class="btn btn-success d-none"><i
                        class="fas fa-long-arrow-alt-left"></i> Trở về</button>
            </div>
            <div class="col-md-4 ml-auto">
                {{#if success}}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{success}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/if}}
                {{#if error}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{error}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-2 mb-2 px-2">
            <a href="#file-select" id="lopxe.png" class="edit-index btn btn-light w-100 text-uppercase px-1  "><span class="mb-0 h5">Lốp xe</span>
                <img class="w-100" src="/uploads/Wel/lopxe.png" alt="">
            </a>
        </div>
        <div class="col-md-2 mb-2 px-2">
            <a href="#file-select" id="lopxe2.png" class="edit-index btn btn-light w-100 text-uppercase px-1 "><span class="mb-0 h5">Lốp xe 2</span>
                <img class="w-100" src="/uploads/Wel/lopxe2.png" alt="">
            </a>
        </div>
        <div class="col-md-2 mb-2 px-2">
            <a href="#file-select" id="xeben.png" class="edit-index btn btn-light w-100 text-uppercase px-1 "><span class="mb-0 h5">Xe tải</span>
                <img class="w-100" src="/uploads/Wel/xeben.png" alt="">
            </a>
        </div>
        <div class="col-md-2 mb-2 px-2">
            <a href="#file-select" id="xeben2.png" class="edit-index btn btn-light w-100 text-uppercase px-1 "><span class="mb-0 h5">Xe tải 2</span>
                <img class="w-100" src="/uploads/Wel/xeben2.png" alt="">
            </a>
        </div>
        <div class="col-md-2 mb-2 px-2">
            <a href="#file-select" id="xedaukeo.png" class="edit-index btn btn-light w-100 text-uppercase px-1 "><span class="mb-0 h5">Xe đầu kéo</span>
                <img class="w-100" src="/uploads/Wel/xedaukeo.png" alt="">
            </a>
        </div>
        <div class="col-md-2 mb-2 px-2">
            <a href="#file-select" id="xedaukeo2.png" class="edit-index btn btn-light w-100 text-uppercase px-1 "><span class="mb-0 h5">Xe đầu kéo 2</span>
                <img class="w-100" src="/uploads/Wel/xedaukeo2.png" alt="">
            </a>
        </div>
        <div class="col-md-2 mb-2 px-2">
            <a href="#file-select" id="service.png" class="edit-index btn btn-light w-100 text-uppercase px-1 "><span class="mb-0 h5">Dịch vụ</span>
                <img class="w-100" src="/uploads/Wel/service.png" alt="">
            </a>
        </div>
        <div class="col-md-2 mb-2 px-2">
            <a href="#file-select" id="service2.png" class="edit-index btn btn-light w-100 text-uppercase px-1 "><span class="mb-0 h5">Dịch vụ 2</span>
                <img class="w-100" src="/uploads/Wel/service2.png" alt="">
            </a>
        </div>
        <div class="col-md-2 mb-2 px-2">
            <a href="#file-select" id="somi.png" class="edit-index btn btn-light w-100 text-uppercase px-1 "><span class="mb-0 h5">Sơ mi rơ móoc</span>
                <img class="w-100" src="/uploads/Wel/somi.png" alt="">
            </a>
        </div>
        <div class="col-md-2 mb-2 px-2">
            <a href="#file-select" id="somi2.png" class="edit-index btn btn-light w-100 text-uppercase px-1 "><span class="mb-0 h5">Sơ mi rơ móoc 2</span>
                <img class="w-100" src="/uploads/Wel/somi2.png" alt="">
            </a>
        </div>
        <div class="col-md-2 mb-2 px-2">
            <a href="#file-select" id="phutung.png" class="edit-index btn btn-light w-100 text-uppercase px-1 "><span class="mb-0 h5">Phụ tùng</span>
                <img class="w-100" src="/uploads/Wel/phutung.png" alt="">
            </a>
        </div>
        <div class="col-md-2 mb-2 px-2">
            <a href="#file-select" id="phutung2.png" class="edit-index btn btn-light w-100 text-uppercase px-1 "><span class="mb-0 h5">Phụ tùng 2</span>
                <img class="w-100" src="/uploads/Wel/phutung2.png" alt="">
            </a>
        </div>
        <div class="col-md-2 mb-2 px-2">
            <a href="#file-select" id="lopcongtrinh.png" class="edit-index btn btn-light w-100 text-uppercase px-1 "><span class="mb-0 h5">Lốp công trình</span>
                <img class="w-100" src="/uploads/Wel/lopcongtrinh.png" alt="">
            </a>
        </div>
        <div class="col-md-2 mb-2 px-2">
            <a href="#file-select" id="lopcongtrinh2.png" class="edit-index btn btn-light w-100 text-uppercase px-1 "><span class="mb-0 h5">Lốp công trình 2</span>
                <img class="w-100" src="/uploads/Wel/lopcongtrinh2.png" alt="">
            </a>
        </div>
        <div class="col-md-2 mb-2 px-2">
            <a href="#file-select" id="daunhot.png" class="edit-index btn btn-light w-100 text-uppercase px-1 "><span class="mb-0 h5">Dầu nhớt</span>
                <img class="w-100" src="/uploads/Wel/daunhot.png" alt="">
            </a>
        </div>
        <div class="col-md-2 mb-2 px-2">
            <a href="#file-select" id="daunhot2.png" class="edit-index btn btn-light w-100 text-uppercase px-1 "><span class="mb-0 h5">Dầu nhớt 2</span>
                <img class="w-100" src="/uploads/Wel/daunhot2.png" alt="">
            </a>
        </div>
        
    </div>

    <div class="titleL my-5">Hình nền trang giao diện <span class="alert alert-primary">(1920 x 1080)</span></div>
    <div class="row mt-3 mb-2 px-2">
        <div class="col-12">
           <a href="#file-select" id="hinhnen.png" class="edit-index">
             <img class="w-100" src="/uploads/Wel/hinhnen.png" alt="">
           </a>
        </div>
    </div>

    <div class="titleL my-5">Hình ảnh danh mục sản phẩm <span class="alert alert-primary">(1920 x 1080)</span></div>
    <div class="row mt-3">
        <div class="col-3 mb-2 px-2">
            <a href="#file-select" id="tire-logo.png" class="edit-index btn btn-light w-100 text-uppercase px-1 "><span class="mb-0 h5">Lốp xe</span>
                <img class="w-100" src="/uploads/Wel/tire-logo.png" alt="">
            </a>
        </div>
        <div class="col-3 mb-2 px-2">
            <a href="#file-select" id="truck-logo.png" class="edit-index btn btn-light w-100 text-uppercase px-1 "><span class="mb-0 h5">Xe tải</span>
                <img class="w-100" src="/uploads/Wel/truck-logo.png" alt="">
            </a>
        </div>
        <div class="col-3 mb-2 px-2">
            <a href="#file-select" id="tool-logo.png" class="edit-index btn btn-light w-100 text-uppercase px-1 "><span class="mb-0 h5">Phụ tùng</span>
                <img class="w-100" src="/uploads/Wel/tool-logo.png" alt="">
            </a>
        </div>
        <div class="col-3 mb-2 px-2">
            <a href="#file-select" id="oil-logo.png" class="edit-index btn btn-light w-100 text-uppercase px-1 "><span class="mb-0 h5">Dầu nhớt</span>
                <img class="w-100" src="/uploads/Wel/oil-logo.png" alt="">
            </a>
        </div>
    </div>


    <div style="margin-top: 100px;" id="file-select" class="addProduct-body">
        <form action="/admin/updateIndex" class="form-horizontal" enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-md-3 d-flex align-items-center">
                <img height="170px" src="/uploads/Wel/lopxe.png" alt="" class="w-100 text-uppercase px-1 edit-img">
            </div>
            <div class="col-md-9">
                <div class="form-group border-0 mt-0">
                    <div class="col-md-12 text-center">
                       
                        <div class="form-group-container">
                            
                            <input name="image_name" type="text" class="form-control old-name d-none" value="lopxe.png">
                            
                            <input id="product-image" name="image" class="form-control input-md"
                                onchange="preview()" type="file" multiple>
                            <label for="product-image">
                                <i class="fas fa-upload"></i>
                                Chọn ảnh &nbsp;
                            </label>
                            <p id="num-of-file">Chưa có ảnh mới nào được chọn</p>
                            <div id="images-upload">
                                <figure>
                                    <img src="" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <button type="submit" style="float: right" class="btn btn-success mt-3 w-25">Xác nhận</button>
        </form>
        {{!-- <form action="{{action}}" class="form-horizontal" enctype="multipart/form-data" method="post">
            <fieldset>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="discount-title">Tiêu đề</label>
                    <div class="col-md-10">
                        <input id="discount-title" value="{{data.title}}" name="title" placeholder="Tiêu đề"
                            class="form-control input-md" required="" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="discount-subtitle">Trích dẫn</label>
                    <div class="col-md-10">
                        <input id="discount-subtitle" value="{{data.subtitle}}" name="subtitle" placeholder="Trích dẫn"
                            class="form-control input-md" required="" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="product-image">HÌNH ẢNH KHUYẾN MÃI</label>
                    <div class="col-md-10">
                        <div class="form-group-container">
                            <input class="d-none" value="{{data.id}}" type="text" name="id">
                            <input class="d-none" value="{{data.image}}" type="text" name="old_image">
                            <input id="product-image" accept="image/*" name="image" class="form-control input-md"
                                onchange="preview()" type="file" multiple>
                            <label for="product-image">
                                <i class="fas fa-upload"></i>
                                Chọn ảnh khuyến mãi &nbsp;
                            </label>
                            <p id="num-of-file">Chưa có ảnh mới nào được chọn</p>
                            <div id="images-upload">
                                <figure>
                                    <img src="{{data.image}}" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="discount-content">Nội dung</label>
                    <div class="col-md-10">
                        <textarea id="discount-content" name="content">{{data.content}}</textarea>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-footer">
                    <button type="submit">Xác nhận</button>
                </div>
            </fieldset>
        </form> --}}
    </div>

</div>

{{!-- Body: end --}}

<script src="/ckeditor/ckeditor.js"></script>

<!-- Footer -->
<script>

    $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 100, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
    let fileInput = document.getElementById("product-image")
    let imageContainer = document.getElementById('images-upload')
    let numOfFiles = document.getElementById('num-of-file')

    function preview() {
        imageContainer.innerHTML = ""
        numOfFiles.textContent = `${fileInput.files.length} ảnh đã được chọn`;

        for (i of fileInput.files) {
            let reader = new FileReader()
            let figure = document.createElement("figure")
            let figCap = document.createElement("figcaption")

            figCap.innerText = i.name
            figure.appendChild(figCap)
            reader.onload = () => {
                let img = document.createElement("img");
                img.setAttribute("src", reader.result);
                figure.insertBefore(img, figCap);
            }
            imageContainer.appendChild(figure);
            reader.readAsDataURL(i)
        }
    }

    CKEDITOR.replace('content')
    
    const edit_box = $('.addProduct-body');
    {{!-- edit_box.hide() --}}
    $('.edit-index').click(function(e) {
        e.preventDefault();
        const curr_img = $(this).attr('id');
        $('.old-name').val(curr_img);
        $('.edit-img').attr('src', '/uploads/Wel/' + curr_img)
        $('#product-image').val('');
        $('figure').children('img').attr('src', '');
        $('figcaption').text('');
        $('#num-of-file').text('Chưa có ảnh mới nào được chọn');
        edit_box.show()
        
    })

    
</script>