<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Bootstrap --}}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{!-- Font Awesome --}}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    {{!-- Zoom-image --}}


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />
    {{!-- <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> --}}
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    {{!--
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    --}}
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/lightslider.css">

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
    <title>Nam Thịnh</title>
    <script src="/javascript/lightslider.js"></script>
    <script>
        $(document).ready(function () {
            $("#content-slider").lightSlider({
                loop: true,
                keyPress: true
            });
            $('#image-gallery').lightSlider({
                gallery: true,
                item: 1,
                thumbItem: 5,
                slideMargin: 0,
                speed: 500,
                auto: true,
                loop: true,
                onSliderLoad: function () {
                    $('#image-gallery').removeClass('cS-hidden');
                }
            });



        });
    </script>
</head>

<body>

    {{#if index}}
    {{{body}}}
    {{else}}
    {{#if admin}}
    {{>adminHeader}}
    {{>navbar2}}
    {{else}}
    {{>header}}
    {{>navbar2}}


    {{/if}}

    {{#if service}}
    <div class="service-banner text-center">
        <div class="p-lg-5 mx-auto">
            <div class="pt-5 mt-5" style="min-height: 272px">
                <h1 class="home-title d-none d-md-block pt-5 mt-5">SỬA CHỮA - BẢO DƯỠNG - LÀM LỐP LƯU ĐỘNG</h1>
                <div class="home-title d-md-none" style="font-size: 17px;">SỬA CHỮA - BẢO DƯỠNG<br>LÀM LỐP LƯU ĐỘNG
                </div>

                <div class="pt-4 d-lg-inline d-none"><button class="btn-action btn btn-light btn-lg"
                        onclick="contact_service_modal();" style="margin-top: 20px;">LIÊN HỆ XƯỞNG DỊCH VỤ</button>
                </div>

                <div class="pt-4 d-lg-none"><a href="javascript:;"
                        class="btn-action btn btn-light btn-lg call-tracking">LIÊN HỆ XƯỞNG DỊCH VỤ</a></div>
            </div>
        </div>


    </div>
    <div id="type-list">
        <div class="d-flex flex-column flex-lg-row flex-md-column">
            <div class="container px-4">
                <div class="type-list-item media my-2">
                    <i class="far fa-list-alt mr-3 my-2"></i>
                    <div class="media-body">
                        <h3 class="type-list-title h4 text-white my-2">Đầy đủ dịch vụ</h3>
                    </div>
                </div>
            </div>
            <div style="background-color: #1F4690;" class="container px-4">
                <div class="type-list-item media my-2">
                    <i class="fa fa-user mr-3 my-2"></i>
                    <div class="media-body">
                        <h3 class="type-list-title h4 text-white my-2">Kỹ thuật viên lành nghề</h3>
                    </div>
                </div>
            </div>
            <div class="container px-4">
                <div class="type-list-item media my-2">
                    <i class="fa fa-thumbs-up mr-3 my-2"></i>
                    <div class="media-body">
                        <h3 class="type-list-title h4 text-white my-2">Trang thiết bị hiện đại</h3>
                    </div>
                </div>
            </div>
            <div style="background-color: #1F4690;" class="container px-4">
                <div class="type-list-item media my-2">
                    <i class="fa fa-wrench mr-3 my-2"></i>
                    <div class="media-body">
                        <h3 class="type-list-title h4 text-white my-2">Phụ tùng chính hãng</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    {{#if homepage}}
    <div class="header-banner-slide mb-3">

        <video width="100%" autoplay muted loop id="myVideo" controls="hidden">
            <source src="img/namthinh.mp4" type="video/mp4">
        </video>
    </div>
    <div onclick='window.location.href="#news"' class="scroll-down" id="js-scroll-down">
        <img src="https://www.thacogroup.vn/themes/main/images/home/icon-scroll.png" alt="icon">
    </div>
    {{/if}}

    <a class="scroll-to-top">
        <div class="inner"></div>
    </a>
    <div id="alert-product">

    </div>
    <div class="container wrapper">

        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v14.0" nonce="yImrZYyz"></script>
        {{{body}}}


    </div>
    {{#if homepage}}


    <div class="mt-5"
        style="background-image: url(https://palletnhuanhapkhau.com/img_data/images/br-khachhang341149918659.jpg);">
        <div class="mb-5 mt-5" style="color: #ffff; padding-top: 30px; text-align: center; font-size: 2rem;">
            Ý KIẾN KHÁCH HÀNG
        </div>
        <div class="feedback__container">
            <article class="feedback__article">
                <div class="feedback__image">
                    <img src="https://palletnhuanhapkhau.com/img_data/images/AT801829723560.jpg" alt="customer">
                </div>

                <div class="feedback__text">
                    <div class="feedback__text__review">
                        <p>Công Ty uy tín , tu vấn nhiệt tình , hỗ trợ nhanh chóng </p>
                    </div>
                    <div class="feedback__text__name">
                        <p>--Ms.Liên--</p>
                    </div>
                </div>
            </article>
            <article class="feedback__article">
                <div class="feedback__image">
                    <img src="https://palletnhuanhapkhau.com/img_data/images/tds2_nlij246919308556.png" alt="customer">
                </div>

                <div class="feedback__text">
                    <div class="feedback__text__review">
                        <p>Lốp xe giá tốt , chất lượng , đa dạng mẫu mã</p>
                    </div>
                    <div class="feedback__text__name">
                        <p>--Mr.Hùng --</p>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <div class="w-100 text-center">
        <div class="menu-title mb-5 mt-5">ĐỐI TÁC CỦA NAM THỊNH</div>
    </div>
    <div class="classify-product mb-5">
        <div class="col-md-12">
            <div class="owl-carousel owl-theme mt-5">
                {{#each partners}}
                <div class="item"><img width="100%" src="{{image}}" alt="{{name}}"></div>
                {{/each}}

            </div>
        </div>
    </div>

    <div class="">
        <div class="menu-title mb-5 mt-5">LIÊN HỆ NGAY HÔM NAY</div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div style="margin-bottom: -6px;" class="contact-map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4965865265362!2d106.62206271397635!3d10.849784160804136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752a266f3fe537%3A0x74054a78ab89263d!2zMjI5MCBRTDFBLCBUcnVuZyBN4bu5IFTDonksIFF14bqtbiAxMiwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oIDcwMDAwMCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1659367891994!5m2!1svi!2s"
                            width="600" height="460" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    {{#if admin}}
    {{> footer}}
    {{else}}
    {{!-- {{> leaveMessage}} --}}
    {{> footer}}
    {{/if}}
    {{/if}}

    {{#if hide}}
    {{else}}
    <div class="list-social-sidebar fadeLeft">
        <ul>
            <li style=" background-color: transparent" class="social-item smooth">
                <a href="/shopping-cart">
                    <img style="animation: none;" class="" src="/img/cart.png" alt="Facebook">
                </a>
                <div id="count-cart" class="count-cart">0</div>
            </li>
            <li class="social-item smooth">
                <a href="https://www.facebook.com/CTNAMTHINH/" target="_blank">
                    <img class="drop-shadow" src="/img/icon/fb.png" alt="Facebook">
                </a>
            </li>

            <li class="social-item smooth">
                <a href="https://www.youtube.com/channel/UC7IJyk7xBdRInhjhVAvdsyQ" target="_blank">
                    <img class="drop-shadow" src="/img/icon/ytb.png" alt="Youtube">
                </a>
            </li>
            <li class="social-item smooth">
                <a href=" mailto:thuongmainamthinh@gmail.com">
                    <img class="drop-shadow" src="/img/icon/email.png" alt="Mail">
                </a>
            </li>
            <li class="social-item smooth">
                <a href=" tel:0839897897">
                    <img class="drop-shadow" src="/img/icon/phone.png" alt="Phone">
                </a>
            </li>
            <li class="social-item smooth">
                <a href="https://zalo.me/0839897897">
                    <img class="drop-shadow" src="/img/icon/zalo.png" alt="Zalo">
                </a>
            </li>

        </ul>
    </div>
    {{/if}}

    {{!-- Pop up tư vấn --}}
    <div class="modal fade" id="TuVanModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="logo-s">

                    </div>
                    <h5 class="modal-title text-center" id="exampleModalLabel"><img style="margin-left: 17px;"
                            width="25%"
                            src="https://firebasestorage.googleapis.com/v0/b/namthinh-69ec0.appspot.com/o/logo%2Flogo.png?alt=media&token=3b904e5b-646e-450e-a41b-601976fb0a79"
                            alt=""><br>&nbsp; ĐĂNG KÝ TƯ VẤN</h5><br>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="padding-top: 20px;" class="w-100 text-center col-md-12">
                    <p class="mb-0">Để nhận được ưu đãi khi mua hàng tại Nam Thịnh, quý khách hàng vui lòng điền thông
                        tin dưới đây, hoặc liên hệ hotline <br><span style="color:red">083 989 7897</span></p>
                </div>
                <form method="post" action="/users/sendInfo">
                    <div class="modal-body py-0">
                        <div class="form-group">
                            {{!-- <label for="recipient-name" class="col-form-label">Recipient:</label> --}}
                            <input placeholder="Họ tên" name="fullname" type="text" class="form-control py-4"
                                id="recipient-name">
                        </div>
                        <div class="form-group">
                            {{!-- <label for="recipient-name" class="col-form-label">Recipient:</label> --}}
                            <input placeholder="Email" name="email" type="email" class="form-control py-4"
                                id="recipient-name">
                        </div>
                        <div class="form-group">
                            {{!-- <label for="recipient-name" class="col-form-label">Recipient:</label> --}}
                            <input placeholder="Số điện thoại" name="phone" type="text" class="form-control py-4"
                                id="recipient-name">
                        </div>
                        <label for="message-text" class="col-form-label">Nội dung:</label><br>
                        <div class="my-0 form-group">
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                    <button type="button" style="background-color: #3A5BA0;" class="w-100 py-2 btn btn-success">Đăng
                        ký</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>

    {{!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.6.1/jquery.zoom.min.js"
        integrity="sha512-xhvWWTTHpLC+d+TEOSX2N0V4Se1989D03qp9ByRsiQsYcdKmQhQ8fsSTX3KLlzs0jF4dPmq0nIzvEc3jdYqKkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script> --}}

    <script src="/javascript/cart.js"></script>
    <script src="/javascript/main.js"></script>


</body>
<script>
    let count = JSON.parse(localStorage.getItem('shopping-cart')).length;

    $(document).ready(function () {
        $(window).on('load', function () {
            if ($(window).width() > 600) {
                setTimeout(function () {
                    $('#TuVanModal').modal('show');
                }, 180000)
            }
        });

        if (localStorage.getItem('shopping-cart') != null) {
            $('#count-cart').text(count);

            }
            $(this).addClass('added');
        })


=======
        
        
        
    })

        $('.items-price').click(function () {

            if (!$(this).hasClass('added')) {
                count++;
                $('#count-cart').text(count);

            }
            $(this).addClass('added');
        })

    $('.items-price-2').click(function() {
        
        if(!$(this).hasClass('added')) {
            count++;
            $('#count-cart').text(count);
            
        }
        $(this).addClass('added');
    })
</script>

</html>